@page
@model RazorPagesApplication.Pages.ImageModel
@{
}

<div>
	<h2 style="text-align:center">@Model.Message</h2>
	<p style="text-align:center">
		<img src="@Url.Content("~/Images/ASP.NET Core MVC.png")" style="max-width:100%;height:auto;" />
	</p>
	<p style="text-align:center">
		<img src="@Url.Content("~/Images/IMG_20170504_170840.jpg")" style="max-width:100%;height:auto;" />
	</p>	
</div>

